<!-- <div class="wrapper wraper-header"> -->
    <!-- <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div> -->
    
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <!-- <footer-cmp></footer-cmp> -->
   
<!-- </div> -->

<div id="preloader" *ngIf="false">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

