<div class="mt-5 d-flex container flex-wrap justify-content-start">
    <div class="card m-1" [routerLink]="['/admin/restaurant-detail', restaurant.id]" *ngFor="let restaurant of restaurants">
        <div class="d-flex">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12 22H6A2 2 0 0 1 8 20V8H2V5H16V8H10V20A2 2 0 0 1 12 22M22 2V22H20V15H15V22H13V14A2 2 0 0 1 15 12H20V2Z" />
            </svg>
            &nbsp;
            Restaurante
        </div>
        <div class="card-body">
            <h4 class="rest-name" role="button">{{restaurant.name}}</h4>
        <p class="localization">
            {{restaurant.localization}}
        </p>
        <span class="badge badge-primary">{{restaurant.type}}</span>
        </div>
        
    </div>
    <div class="card d-flex align-items-center justify-content-center" routerLink="/admin/add-restaurant" role="button">
        <svg style="width:88px;height:88px" class="text-grey" viewBox="0 0 24 24">
            <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
        </svg>
        
    </div>
</div>
