.card{
    max-width: 33%;
    border-radius: 30px;
    padding: 30px;
    width: 33%;
    -webkit-box-shadow: 10px 10px 29px 2px rgba(158,158,158,0.5);
    -moz-box-shadow: 10px 10px 29px 2px rgba(158,158,158,0.5);
    box-shadow: 10px 10px 29px 2px rgba(158,158,158,0.5);
}