<div class="mt-5 d-flex">
    <div class="card" routerLink="/admin/card-edit" *ngFor="let restaurant of restaurants">
        <h3 class="rest-name">{{restaurant.name}}</h3>
        <p class="localization">
            Moratalaz, Madrid
        </p>
        <span>Carta añadida</span>
        
    </div>
    <div class="card d-flex align-items-center justify-content-center" routerLink="/admin/card-edit">
        <svg style="width:88px;height:88px" class="text-grey" viewBox="0 0 24 24">
            <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
        </svg>
        
    </div>
</div>
