<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                    <img src="/assets/img/CU/CU-logo_dark.png" alt="Linda Miller" class="img-fluid" width="200" height="150" />
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a routerLink="/home" class="menu-item">Home</a></li>
                      
                      
                      <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                      <li class="scroll-to-section"><a routerLink="/login" class="btn btn-primary py-0">Log in</a></li>
                      <li class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          My CU
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" routerLink="/admin">Restaurants</a>
                          <a class="dropdown-item" href="#">Profile</a>
                          <a class="dropdown-item" href="#">Log out</a>
                        </div>
                      </li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>