<div class="wrapper">
  <nav id="sidebar" class="sidebar">
    <a class="sidebar-brand" [routerLink]="['/dashboard']">
      <div class="img-logo">
        <img src="/assets/img/orbis/logo.png" class="w-100" alt="">
      </div>
    </a>
    <div class="sidebar-content">
      <div class="sidebar-user">
        <!-- <img src="/src/assets/img/avatars/240px-User_icon_2.svg.png"  alt="Linda Miller" /> -->
      <div class="font-weight-bold">{{mostrarUsuarioLogueado()}}</div>
        <small>User</small>
    </div>

      <ul class="sidebar-nav">

        <li class="sidebar-header">
          Main
        </li>

        <li class="sidebar-item">
          <a href="#dashboards" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle mr-2 fas fa-fw fa-home"></i> <span class="align-middle">Dashboards</span>
          </a>
          <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item"><a class="sidebar-link" [routerLink]="['/dashboard']">Todos los paneles</a></li>
            <li class="sidebar-item"><a class="sidebar-link" [routerLink]="['/sensors']">Todos los sensores</a></li>
            <li class="sidebar-item"><a class="sidebar-link" [routerLink]="['/sensorsbyid']" >Sensores por panel</a></li>
          </ul>
        </li>
       
        <li class="sidebar-item">
          <a href="#auth" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle mr-2 fas fa-fw fa-sign-in-alt"></i> <span class="align-middle">Auth</span>
          </a>
          <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item"  (click)="logOut()" [routerLink]="['']"><a class="sidebar-link" >Log out </a></li>
          </ul>
        </li>

        <li class="sidebar-header">
          Dispositivos
        </li>
 
        <li class="sidebar-item">
          <a href="#ui" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle mr-2 fas fa-cubes"></i> <span class="align-middle">PANELES</span>
          </a>
          <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li  *ngFor="let panel of paneles; let i=index" class="sidebar-item"  (click)="pulsaPanel(panel._id)">
            <!-- <li  *ngFor="let panel of paneles; let i=index" class="sidebar-item" 
            [routerLink]="['lista']"> -->
  
              <a class="sidebar-link  "  > <i class="fas fa-dice-d6"></i>{{panel.name}} </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>

